body {
  background-image: url("https://img.freepik.com/free-photo/grunge-paint-background_1409-1337.jpg?w=2000");
  background-size: cover;
}
.home-info{
  margin:0;
  color: #262626;
  h1 {
    margin:0;

  }
}
